@import "tailwindcss";
@plugin "daisyui" {
  themes: lofi;
}
@keyframes collapseAnimation {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-collapse {
  animation: collapseAnimation 0.3s ease forwards;
}
