@import "tailwindcss";
@plugin "daisyui";

/* Light Theme - "lofi" (Your Custom Theme) */
@plugin "daisyui/theme" {
  name: "lofi";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(97% 0 0);
  --color-base-300: oklch(94% 0 0);
  --color-base-content: oklch(0% 0 0);
  --color-primary: oklch(28% 0.091 267.935);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(21.455% 0.001 17.278);
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: oklch(76% 0.188 70.08);
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(0% 0 0);
  --color-neutral-content: oklch(100% 0 0);
  --color-info: oklch(71% 0.143 215.221);
  --color-info-content: oklch(15.908% 0.02 205.9);
  --color-success: oklch(69% 0.17 162.48);
  --color-success-content: oklch(18.026% 0.03 164.14);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(17.674% 0.027 79.94);
  --color-error: oklch(63% 0.237 25.331);
  --color-error-content: oklch(15.732% 0.03 28.47);
  --radius-selector: 0rem;
  --radius-field: 0rem;
  --radius-box: 0rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "synthwave";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
 --color-base-100: oklch(14% 0.005 285.823);
  --color-base-200: oklch(21% 0.006 285.885);
  --color-base-300: oklch(27% 0.006 286.033);
  --color-base-content: oklch(96% 0.001 286.375);
  --color-primary: oklch(72% 0.219 149.579);
  --color-primary-content: oklch(98% 0.016 73.684);
  --color-secondary: oklch(26% 0 0);
  --color-secondary-content: oklch(98% 0.016 73.684);
  --color-accent: oklch(70% 0.213 47.604);
  --color-accent-content: oklch(98% 0.018 155.826);
  --color-neutral: oklch(14% 0.004 49.25);
  --color-neutral-content: oklch(98% 0 0);
  --color-info: oklch(71% 0.143 215.221);
  --color-info-content: oklch(98% 0.019 200.873);
  --color-success: oklch(72% 0.219 149.579);
  --color-success-content: oklch(98% 0.018 155.826);
  --color-warning: oklch(76% 0.188 70.08);
  --color-warning-content: oklch(98% 0.022 95.277);
  --color-error: oklch(57% 0.245 27.325);
  --color-error-content: oklch(97% 0.014 343.198);
  --radius-selector: 0rem;
  --radius-field: 0rem;
  --radius-box: 0rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@keyframes collapseAnimation {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-collapse {
  animation: collapseAnimation 0.3s ease forwards;
}
